# "todo-show":
#  "ignoreThesePaths": ['node_modules', '*/config.cson']
#  "findUsingRegex": "/(${TODOS}|- \\[(?:(?:\\.\\.)| )\\])[:;.]+\d*($|\\s?.*$|[\\{\\[\\(].+$)/g"
#  "showInTable": ["Text", "Type", "Path", "Line"]
"core":
  "themes": [
    "atom-dark-ui"
    "atom-dark-syntax"
  ]

"editor":
  "preferredLineLength": 110

"atom-ide-ui": ""

"ide-flowtype": ""

"flow-ide": ""

"linter-eslint":
  "autofix":
    "fixOnSave": true

"linter-ui-default":
  "panelRepresents": "Current File"
  "statusBarRepresents": "Current File"

"language-babel": ""

"hyperclick": ""

"js-hyperclick": ""

"hyperlink-hyperclick": ""

"javascript-refactor": ""

"highlight-selected": ""

"docblockr": ""

"todo":
  "a_pattern":"(?:(TODO|IDEA|Q):.+|- \\[(\\.\\.| |\\?)\\] .+)"

"pigments": ""

"platformio-ide-terminal": ""
