# "todo-show":
#  "ignoreThesePaths": ['node_modules', '*/config.cson']
#  "findUsingRegex": "/(${TODOS}|- \\[(?:(?:\\.\\.)| )\\])[:;.]+\d*($|\\s?.*$|[\\{\\[\\(].+$)/g"
#  "showInTable": ["Text", "Type", "Path", "Line"]

"atom-ide-ui": ""

"ide-flowtype": ""

"javascript-refactor": ""

"language-babel": ""

"todo":
  "a_pattern":"(?:(TODO|IDEA):.+|- \\[(\\.\\.| |\\?)\\] .+)"

"highlight-selected": ""

"pigments": ""

"docblockr": ""
